menu "C Standard Library"

choice
	prompt "Library String Option"
	default CONFIG_LIBC_STRING
	help
		The C Standard Library provides a complete string interface.

config CONFIG_LIBC_STRING
	bool "Enable Library String"
endchoice

config CONFIG_LIBC_STD
	bool "Enable Library STD"
	default y
	help
		The C Standard Library provides standard interface.

config CONFIG_LIBC_CRYPT
	bool "Enable Library Crypt"
	default n
	help
		It is primarily used for password hashing, which is a
		fundamental security mechanism in the system.

config CONFIG_LIBC_SCHED
	bool "Enable Library Sched"
	default n
	help
		The C Standard Library provides a complete scheduling interface.

endmenu
