config CONFIG_FPU_ENABLE
	bool "Enable Floating Pointer Unit"
	default n
	help
		This option will enable the floating procedure in system.

choice
	prompt "Endiane Option"
	default CONFIG_LITTLE_ENDIANE
	help
		This Option will enable endiane options.

config CONFIG_LITTLE_ENDIANE
	bool "Litte Endiane"
endchoice

