config CONFIG_FPU_ENABLE
	bool "Enable Floating Pointer Unit"
	default n
	help
		This option will enable the floating procedure in system.

choice
	prompt "Endiane Option"
	default CONFIG_LITTLE_ENDIANE
	help
		This Option will enable endiane options.

config CONFIG_LITTLE_ENDIANE
	bool "Litte Endiane"
endchoice

choice
	prompt "Page Size Option"
	default CONFIG_4K_PAGE_SIZE
	help
		This option is used in configuring the Memory Management Unit (MMU) page size.

config CONFIG_4K_PAGE_SIZE
	bool "4K Page Size"
endchoice

config CONFIG_CPUS_MAX_NUM
	int "CPUs Maximum Number"
	default 2
	range 1 4
	help
		This represents the number of phyiscal cores.

choice
	prompt "GIC Option"
	default CONFIG_GIC_V2
	help
		This Option will generate GIC options.

config CONFIG_GIC_V2
	bool "GIC V2"
endchoice