menu "Kernel"

config CONFIG_SMP
	bool "Enable SMP"
	default y
	help
		this option enables smp to use multiple CPUs.

config CONFIG_SPIN_LOCK_TRACE
	bool "Enable Spin Lock Trace"
	default n
	help
		This option enables to trace the spin lock. It is useful when debugging dead spin lock.

config CONFIG_PAGE_TABLE_MAX_NUM
	int "Page Table Maximum Number"
	default 16 if CONFIG_USER_SPACE
	default 1
	range 16 32 if CONFIG_USER_SPACE
	range 1 1 if !CONFIG_USER_SPACE

config CONFIG_MEM_PARTITION_MAX_NUM
	int "Memory Partition Maximum Number"
	default 32
	range 1 64
	help
		This represents the memory partition number.

config CONFIG_TICKS_PER_SECOND
	int "Tick Value Per Second"
	default 1000
	range 1 10000
	help
		This represents the tick value per second.

config CONFIG_KERNEL_STACK_SIZE
	int "Kernel Stack Size"
	default 8192
	range 4096 8192
	help
		This represents the kernel stack size for primary core initialization.

config CONFIG_INTERRUPT_STACK_SIZE
	int "Interrupt Stack Size"
	default 8192
	range 4096 8192
	help
		This represents the interrupt stack size for every cpu.

menu "Message Queue"

config CONFIG_MSGQ_MAX_NUM
	int "Maximum Message Queue Number"
	default 10
	range 1 1024
	help
	  This represents the maximum message number.

config CONFIG_MSGQ_MAX_SIZE
	int "Maximum Message Size"
	default 128
	range 1 1024
	help
	  This represents the maximum message size.

endmenu

config CONFIG_KERNEL_HEAP_SIZE
	int "Kernel Heap Size"
	default 1048576
	range 1048576 8388608
	help
		This represents the size of the kernel heap, which is used for dynamic memory
		allocation within the kernel.

config CONFIG_USER_SPACE
	bool "Enable User Space"
	default n
	help
		This option enables to use user space running applications.

if CONFIG_USER_SPACE

config CONFIG_USER_HEAP_SIZE
	int "User Heap Size"
	default 1048576
	range 1048576 8388608
	help
		This represents the size of the user heap, which is used for dynamic memory
		allocation within the user.

endif

endmenu
