menu "Kernel"

config CONFIG_SMP
	bool "Enable Kernel SMP"
	default n
	help
		this option enables kernel smp to use multiple CPUs.

config CONFIG_USER_SPACE
	bool "Enable User Space"
	default n
	help
		this option enables to use user space running applications.

config CONFIG_PAGE_TABLE_MAX_NUM
	int "Page Table Maximum Number"
	default 16 if CONFIG_USER_SPACE
	default 1
	range 16 32 if CONFIG_USER_SPACE
	range 1 1 if !CONFIG_USER_SPACE

config CONFIG_MEM_PARTITION_MAX_NUM
	int "Memory Partition Maximum Number"
	default 32
	range 1 64
	help
		This represents the memory partition number.

config CONFIG_TICKS_PER_SECOND
	int "Tick Value Per Second"
	default 1000
	range 1 10000
	help
	  This represents the tick value per second.

config CONFIG_KERNEL_STACK_SIZE
	int "Kernel Stack Size"
	default 8192
	range 4096 8192
	help
	  This represents the kernel stack size for primary core initialization.

menu "Message Queue"

config CONFIG_MSGQ_MAX_NUM
	int "Maximum Message Queue Number"
	default 10
	range 1 1024
	help
	  This represents the maximum message number.

config CONFIG_MSGQ_MAX_SIZE
	int "Maximum Message Size"
	default 128
	range 1 1024
	help
	  This represents the maximum message size.

endmenu

menu "Interrupt"

config CONFIG_INTERRUPT_STACK_SIZE
	int "Interrupt Stack Size"
	default 8192
	range 4096 8192
	help
	  This represents the interrupt stack size for every cpu.

endmenu

endmenu
