CONFIG_COMPILER_OPTIMIZE_SPEED=y
CONFIG_ARM64=y
CONFIG_FPU_ENABLE=y
CONFIG_LITTLE_ENDIANE=y
CONFIG_4K_PAGE_SIZE=y
CONFIG_CPUS_MAX_NUM=2
CONFIG_GIC_V2=y
CONFIG_SMP=y
CONFIG_TICKS_PER_SECOND=1000
CONFIG_MSGQ_MAX_NUM=10
CONFIG_MSGQ_MAX_SIZE=128
CONFIG_KERNEL_STACK_SIZE=8192
CONFIG_INTERRUPT_STACK_SIZE=8192
CONFIG_TASK_002=y
