CONFIG_COMPILER_OPTIMIZE_SPEED=y
CONFIG_ARM64=y
CONFIG_FPU_ENABLE=y
CONFIG_LITTLE_ENDIANE=y
CONFIG_4K_PAGE_SIZE=y
CONFIG_CPUS_MAX_NUM=2
CONFIG_GIC_V2=y
CONFIG_SMP=y
CONFIG_PAGE_TABLE_MAX_NUM=16
CONFIG_MEM_PARTITION_MAX_NUM=32
CONFIG_TICKS_PER_SECOND=4000
CONFIG_KERNEL_STACK_SIZE=8192
CONFIG_INTERRUPT_STACK_SIZE=8192
CONFIG_MSGQ_MAX_NUM=10
CONFIG_MSGQ_MAX_SIZE=128
CONFIG_KERNEL_HEAP_SIZE=1048576
CONFIG_USER_SPACE=y
CONFIG_USER_HEAP_SIZE=1048576
CONFIG_LIBC_STRING=y
CONFIG_LIBC_STD=y
CONFIG_LIBC_SCHED=y
CONFIG_LIBC_THREAD=y
CONFIG_LIBC_SEM_VALUE_MAX=32
CONFIG_RPMSG=y
CONFIG_RPMSG_KERNEL_USE=y
CONFIG_SHELL=y
CONFIG_SHELL_CMD_BUFFER_SIZE=128
CONFIG_SHELL_CMD_SPACE_SIZE=128
CONFIG_SHELL_TERMINAL_WIDTH_SIZE=100
CONFIG_SHELL_TERMINAL_HEIGHT_SIZE=25
CONFIG_SHELL_ARGC_MAX=10
CONFIG_SHELL_HEXDUMP_BYTES_PER_LINE=16
CONFIG_SHELL_TX_RING_BUFFER_SIZE=128
CONFIG_SHELL_RX_RING_BUFFER_SIZE=128
CONFIG_SHELL_UART_TIMER_INTERVAL=10
CONFIG_SHELL_HISTORY_BUFFER_SIZE=1024
CONFIG_SHELL_PRINTF_BUFF_SIZE=125
CONFIG_SHELL_UART_POLL_TYPE=y
CONFIG_SAMPLE_USER_TASK=y
