menu "Arch"

choice ARCH_TYPE
	prompt "Arch Option"
	default CONFIG_ARM
	help
		This Option will enable compiler Optimize options.

config CONFIG_ARM64
	bool "ARM64"

endchoice

if CONFIG_ARM64
	source "arch/arm64/Kconfig"
endif

endmenu
