menu "Shell"

config CONFIG_SHELL
	bool "Kernel Shell"
	default y
	help
		The shell is the common entry for user to interact with the kernel operation system.
		It is also a command line interface to obtain system status and request system services.

if CONFIG_SHELL

	config CONFIG_SHELL_CMD_BUFFER_SIZE
		int "Shell Command Buffer Size"
		default 128
		range 128 512
		help
			The shell is capable of receiving the maximum allowable characters for a command input.

	config CONFIG_SHELL_CMD_SPACE_SIZE
		int "Shell Command Space Size"
		default 1
		range 1 512
		help
			For shell safety, a space should be set between different shell command sections to
			isolate them. Here, each "1" represents 8 bytes.

	config CONFIG_SHELL_TERMINAL_WIDTH_SIZE
		int "Shell Terminal Width Size"
		default 80
		help
			The shell terminal initial width size.

	config CONFIG_SHELL_TERMINAL_HEIGHT_SIZE
		int "Shell Terminal Height Size"
		default 25
		help
			The shell terminal height initial size.
	
	config CONFIG_SHELL_ARGC_MAX
		int "Maximum Arguments Number"
		range 3 32
		default 10
		help
			Maximum number of arguments that can build a command.

	config CONFIG_SHELL_HEXDUMP_BYTES_PER_LINE
		int "Hexdump Bytes Per Line"
		default 16
		range 1 64
		help
			The number of bytes per line in hexdump.

endif

endmenu
