menu "Shell"

config CONFIG_SHELL
	bool "Kernel Shell"
	default y
	help
		The shell is the common entry for user to interact with the kernel operation system.
		It is also a command line interface to obtain system status and request system services.

if CONFIG_SHELL

	config CONFIG_SHELL_CMD_BUFFER_SIZE
		int "Shell Command Buffer Size"
		default 128
		range 128 512
		help
			The shell is capable of receiving the maximum allowable characters for a command input.

	config CONFIG_SHELL_CMD_SPACE_SIZE
		int "Shell Command Space Size"
		default 1
		range 1 512
		help
			For shell safety, a space should be set between different shell command sections to
			isolate them. Here, each "1" represents 8 bytes.

	config CONFIG_SHELL_TERMINAL_WIDTH_SIZE
		int "Shell Terminal Width Size"
		default 80
		help
			The shell terminal initial width size.

	config CONFIG_SHELL_TERMINAL_HEIGHT_SIZE
		int "Shell Terminal Height Size"
		default 25
		help
			The shell terminal height initial size.
	
	config CONFIG_SHELL_ARGC_MAX
		int "Maximum Arguments Number"
		range 3 32
		default 10
		help
			Maximum number of arguments that can build a command.

	config CONFIG_SHELL_HEXDUMP_BYTES_PER_LINE
		int "Hexdump Bytes Per Line"
		default 16
		range 1 64
		help
			The number of bytes per line in hexdump.

	config CONFIG_SHELL_TX_RING_BUFFER_SIZE
		int "Shell Tx Ring Buffer Size"
		default 128
		range 128 1024
		help
			The size of the shell tx ring buffer.

	config CONFIG_SHELL_RX_RING_BUFFER_SIZE
		int "Shell Rx Ring Buffer Size"
		default 128
		range 128 1024
		help
			The size of the shell rx ring buffer.

	config CONFIG_SHELL_UART_TIMER_INTERVAL
		int "Shell Uart Timer Interval"
		default 10
		range 1 1000
		help
			The shell uart timer interval(ms) for uart polling data.

	config CONFIG_SHELL_HISTORY_BUFFER_SIZE
		int "Shell History Buffer Size"
		default 128
		range 64 1024
		help
			The shell history buffer size.

	config CONFIG_SHELL_PRINTF_BUFF_SIZE
		int "Shell Printf Buff Size"
		default 512
		range 64 1024
		help
			The shell printf buff size.

choice
	prompt "Shell Uart Synchronous Option"
	default CONFIG_SHELL_UART_IRQ_TYPE
	help
		This Option will choose Synchronous type.

config CONFIG_SHELL_UART_POLL_TYPE
		bool "Uart Poll Type"
config CONFIG_SHELL_UART_IRQ_TYPE
		bool "Uart IRQ Type"
endchoice

endif

endmenu
